body {
  background-color: #0D355A;
  font: bold normal 18px/1.6 cursive;
  color: #ffe3ee;
  text-align: center;
}

h1 {
  text-size: 40px;
}

.message {
  display: flex;
  justify-content: center;
}

p {
  width: 600px;
  text-align: center;
  padding: none;
}

img {
  height: 220px;
  opacity: 0;
  transition: all 1s ease-in-out;
  border-style: hidden;
  border-radius: 15px;
}

.images-3rd-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.third-row {
  height: 300px;
}

.images-4th-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  /* width: 80%; */
}

.fourth-row {
  height: 324px;
}

.fifth-row{
  height: 360px;
}

img:hover {
  opacity: 1;
  box-shadow: 10px 10px 5px teal;
}
